body   {

	background-color: white;
	
	margin: 0px;
	
	padding: 0px;
	
	color: black;
	
	background-image: url('images/diamondsheet.jpg');
	background-size: 400px 400px;
       
       }
       
       
       
header { 


	background-color: grey;
	
	height: 113px;

	top: 0px;
	
	right: 0px;
	
	left: 0px;
	
	box-shadow: 0px 1px 1px grey;
	
	background: linear-gradient(to bottom, silver, grey);
	
	-moz-box-shadow:    inset  5px 0px 20px black;
	-webkit-box-shadow: inset  5px 0px 20px black;
        box-shadow:         inset  5px 0px 20px black;
        
        overflow: hidden;
	
       }
ul {
	float:left;
	margin: 80px 0px 0px 0px; /* top(px) right(px) bottom(px) left(px)  */
	padding: 0px 0px 0px 0px;
	

	}
li {
	
	font-family: tahoma;
	color:white;
	list-style-type: none;
	display: block;
	
	padding: 5px 10px 9px 5px;
	  -webkit-filter: dropshadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);
 	 
 	 width:70px;
 	 text-align: center;
}


li:hover {
    
    background: rgb(0, 0, 0, .2);
    border-radius: 5px;
    font-size: 105%;
}

li a {
    display: block;
    width:70px;
    
}


.player {

	color: white;
	
	width: 220px;
	
	height: 600px;
	
	float: left;
	
	margin: 10px 10px 0px 150px;
	
	padding: 10px 10px 10px 10px;
	
	border-radius: 10px;
	
	background: rgb(0, 0, 0, .2);
	
	-webkit-filter: drop-shadow(5px 7px 5px #222);
        
        filter: drop-shadow(5px 7px 5px #222);
        
        font-size: 24px;
        
        font-family: tahoma;
	
	

}


main  { 

	
	background-color: white;	

    	margin: 0px 10px 0px 10px;

   	overflow:auto;

   	padding: 0px 25px 50px 50px;

   	width: 600px;
   	
   	height: 1500px; 
    
   	box-shadow: 0px 10px 50px grey;
   	
   	background: rgb(225, 225, 225, .0);
   	      
  }  
       
.box {
	width: 500px;
	height: 770px;
	position: absolute;
	top: 125px;
	left: 1100px;
	
	
	padding: 10px 10px 10px 10px;

	box-shadow: 0px 10px 50px grey;
	
	
	overflow: auto;
	
	background-color: black;
	
	color: white;
	
	font-size: 18px;
	
	background: rgb(0, 0, 0, .8);
	
	font-family: tahoma;
	
	 
}
       


.wins{
	
	 
	display: table-header-group;
	
}

.wins2{
	
	 display: table-header-group;
	
}


.game{
	
	 
	display: table-footer-group;
	
	

}

.box2 {
	width: 520px;
	height: 500px;
	position: absolute;
	top: 115px;
	left: 1200px;
	
	
	padding: 10px 10px 10px 10px;

	box-shadow: 0px 10px 50px grey;
	
	
	overflow: scroll;
	
	background-color: black;
	color: white;
	
	font-size: 18px;
	

}

.boxxx {
	width: 520px;
	height: 500px;
	position: absolute;
	top: 115px;
	left: 1200px;
	
	padding: 10px 10px 10px 10px;

	box-shadow: 0px 10px 50px grey;
	
	background-color: black;
	
	color: white;

}



footer{

	clear:both;

	height: 20px;
	
	position: bottom;
	
	bottom: 0px;
	
	left: 0px;
	
	width: 100%;
	
	padding: 5px;
	
	background: black;
	
	text-align: center;
	
	box-shadow: 0px -1px 5px grey;
	
       }

.shadow { float: left;
  -webkit-filter: drop-shadow(5px 7px 5px #222);
  filter: drop-shadow(5px 7px 5px #222);
}  

.shadow2 { 
  -webkit-filter: drop-shadow(5px 7px 5px #222);
  filter: drop-shadow(5px 7px 5px #222);
}  

      


.formone{

	background: rgb(221, 223, 158, .7);
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 1px 1px grey;

	
	
	font-family: tahoma;
	
	
}

.radiogroup {

	border: solid 3px lighten(#332f35,20%); 
  	display: inline-block;
  	margin: 20px;
  	border-radius: 10px;
  	overflow: hidden;
	
	}
	
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
  
  }
  
  
 label {
  color: rgb(0, 0, 0, .9);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 20px;
}

input[type=radio]:checked + label{
  color: rgb(0, 225, 225, 1);
  background: rgb(0, 0, 0, .4);
  border-radius: 10px;
  -webkit-filter: drop-shadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);
  
  
}

label + input[type=radio] + label {
  border: rgb(225, 225, 225, 1);
}


#submit1{

	height: 30px;
	width: 125px;
	border-radius: 5px;
	background-color: rgb(102, 225, 0, 1);
	font-family: tahoma;
	font-size: 20px;
	-webkit-filter: drop-shadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);

}

#submit2{

	height: 30px;
	width: 125px;
	border-radius: 5px;
	background-color: rgb(102, 225, 0, 1);
	font-family: tahoma;
	font-size: 20px;
	-webkit-filter: drop-shadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);

}

.formtwo{
	
	background: rgb(221, 223, 158, .7);
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 1px 1px grey;
	
	font-family: tahoma;
}



.column{ 

	float: left;
	width: 33%;

}

.logout{
	
	float:right;
	margin: 80px 30px 0px 0px;    /* top(px) right(px) bottom(px) left(px)  */
	-webkit-filter: drop-shadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);
	}
	


a:link {color:white;text-decoration:none;}		
a:visited {color:white;}
a:hover {font-size:100%;color:black;text-shadow: 0px 0px 0px black;}
a:active {color:white; text-shadow: 1px 0px 0px grey;}  
       
       
	  
	