body   {

	
	background-color: black;
	
	height: 100%;
	
	margin: 0px;
	
	padding: 0px;
	
	color:white;
       
       }
       
       
       
header { 


	background-color: grey;
	
	height: 113px;

	top: 0px;
	
	right: 0px;
	
	left: 0px;
	
	
	box-shadow: 0px 1px 1px grey;
	
	background: linear-gradient(to bottom, silver, grey);
	
	-moz-box-shadow:    inset  5px 0px 20px black;
	-webkit-box-shadow: inset  5px 0px 20px black;
        box-shadow:         inset  5px 0px 20px black;
        
        overflow: hidden;
	
       }


ul {
	float:left;
	margin: 80px 0px 0px 0px; /* top(px) right(px) bottom(px) left(px)  */
	padding: 0px 0px 0px 0px;
	

	}
li {
	
	font-family: tahoma;
	color:white;
	list-style-type: none;
	display: block;
	
	padding: 5px 10px 9px 5px;
	  -webkit-filter: dropshadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);
 	 
 	 width:70px;
 	 text-align: center;
}


li:hover {
    
    background: rgb(0, 0, 0, .2);
    border-radius: 5px;
    font-size: 105%;
}

li a {
    display: block;
    width:70px;
    
}

select {

	font-size: 18px;
	

	}
	
option {

	font-size: 20px;

}




main  { 
	float: left;
	
	color: black;
	
	background-image:url(images/cleanscoresheet2.png);
	
	background-size: 700px 1238px;
	
	background-repeat: no-repeat;

	background-color: black;	

    	margin:0 auto;

   	overflow:auto;

   	padding: 20px 25px 50px 50px;

   	width: 915px;
   	
   	height: 1500px; 
    
   	box-shadow: 0px 10px 50px grey;
   	      
       }
       
.start1 {
	float:left;
	width: 300px;
	height: 100px;
}

#tabletime {

	height: 30px;
	width: 150px;
	border-radius: 8px;
	font-size: 20px;
	}

form {
	width: 700px;
	}
       
       
       
input {
	height: 30px;
	border-radius: 8px;
	width: 52px;
	margin: 0px 0px 0px 0px; 
	font-size: 20px;
	text-align: center;
      }
      


input[type=submit] {

	width: 125px;
	height: 35px;
	background-color: #66FF00;
	}	

	
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
  
  }
  
  label {
  color: rgb(255, 255, 255, .9);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 20px;
}


input[type=radio]:checked + label{
  color: rgb(0, 225, 225, 1);
  background: rgb(255, 255, 255, .4);
  border-radius: 10px;
  -webkit-filter: drop-shadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);
  
  
}

label + input[type=radio] + label {
  border: rgb(225, 225, 225, 1);
}



footer{

	clear:both;

	height: 20px;
	
	position: bottom;
	
	bottom: 0px;
	
	left: 0px;
	
	width: 100%;
	
	padding: 5px;
	
	background: black;
	
	text-align: center;
	
	box-shadow: 0px -1px 5px grey;
	
       }

      .shadow { float:left;
  -webkit-filter: drop-shadow(5px 7px 5px #222);
  filter: drop-shadow(5px 7px 5px #222);
}       


.logout{
	float:right;
	margin: 80px 30px 0px 0px;    /* top(px) right(px) bottom(px) left(px)  */
	-webkit-filter: drop-shadow(5px 7px 5px #222);
 	 filter: drop-shadow(5px 7px 5px #222);
	}

a:link {color:white;text-decoration:none;}		
a:visited {color:white;}
a:hover {font-size:100%;color:black;text-shadow: 0px 0px 0px black;}
a:active {color:white; text-shadow: 1px 0px 0px grey;}  
       
       
	